<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name = "viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content ="ie=edge">
	<title>Document</title>
</head>
<body>
	<div>This will restart the device and connect to the wifi</div>
	<form action=# method="post">
		{% csrf_token %}
		{{ form }}
		<button type ="submit" name="bt_next_wifi">Next</button>
	</form>
	<p></p>
	<form action=# method="post">
		{% csrf_token %}
		<button type ="submit" name="bt_skip">Skip step</button>
		<button type ="submit" name="bt_reset">RESET</button>This will reset everything, delete the model, the pictures, the passwords
	</form>
</body>
</html>
