
<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name = "viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content ="ie=edge">
        <title>Document</title>
</head>
<body>
        {{  page }}

        <form action=# method="post">
        {% csrf_token %}
        <d>Please input the number of categories you would like to classify. Add a category </d>
        <p>
        <input type="text" value="" name="tb_LearningCats" size="1"/>
        <input type="submit" class="btn" value="Add" name="bt_addLearningCats">
        <input type="submit" class="btn" value="Delete" name="bt_delLearningCats">

</p>
         {% for item in liste %}
                <p><input type="submit" class="btn" name="dynButton" value={{item.name}}>newText</p>
        {% endfor %}

       
        </form>
</body>
</html>

