
<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name = "viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content ="ie=edge">
        <title>Document</title>
</head>
<body>
        {{  page }}

        <form action=# method="post" target="_blank">
        {% csrf_token %}
        <div>Please check through this link that the camera view can capture everything : </div>
        <input type="submit" class="btn" value="Camera feed" name="bt_livefeed">
        </form>

        <p></p>
        <p></p>
        <p></p>


        <form action=# method="post">
        {% csrf_token %}
        <div>Please input below the name of the cateogries to predict : </div>
        <p>
        <input type="text" value="" name="tb_LearningCats" size="1"/>
        <div>
        <input type="submit" class="btn" value="Add category" name="bt_addLearningCats">
        <input type="submit" class="btn" value="Delete category" name="bt_delLearningCats">
        </div>
</p>
         {% for item in liste %}
         <p>
                <d>Category :</d> 
                <d><input type="submit" class="btn" name="dynButton" value={{item.name}}></d>
        </p>
        {% endfor %}

       
        </form>
</body>
</html>

