
<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name = "viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content ="ie=edge">
        <title>Document</title>
        <d>
            PictureTakerViewSecond
<script type="text/javascript">
                setInterval(function(){
                var prediction = "{{pred}}";
                document.getElementById("outputMessage").innerHTML = prediction;},10)
        </script>
        <p  id="outputMessage"></p> 

            

        </d>
</head>
</html>

