
<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name = "viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content ="ie=edge">
        <title>Document</title>
</head>
<body>
        <script type="text/javascript">
                setInterval(function(){
                var textToprint = "{{OutMessage}}";
                if("{{messageColor}}"=="red"){var result = textToprint.fontcolor("red");}
                else if("{{messageColor}}"=="green"){var result = textToprint.fontcolor("green");}
                else{var result = textToprint.fontcolor("black");}
                document.getElementById("outputMessage").innerHTML = result;},1000)
        </script>
        <p  id="outputMessage"></p> 

        <p></p>
        <p></p>
        <p></p>
       
        {{  page }}

        <form action=# method="post" target="_blank">
        {% csrf_token %}
        <div>Please check through this link that the camera view can capture everything : </div>
        <input type="submit" class="btn" value="Camera feed" name="bt_livefeed">
        </form>

        <p></p>
        <p></p>
        <p></p>


        <form action=# method="post">
        {% csrf_token %}
        <div>Please enter the name of the cateogries to predict, below : </div>
        </p>
        <input type="text" value="" name="tb_LearningCats" />

        <input type="submit" class="btn" value="Add category" name="bt_addLearningCats">
        </p>
        </p>
        </p>
        <div>Please enter the time length you wish to record in minutes (the record time will be the same for every category) :
        </p>For one and half a minute please type '1'.5'. The values should be between 1 and 5 </div>
        </p>
        <input type="text" value="" name="tb_recTime" size="5"/> 
        <input type="submit" class="btn" value="set Time" name="bt_setTime">







        <p></p>
        <p></p>
        <p></p>
</p>
        <p>The recording will start when you click on every button, for :  {{recTime}}  minutes</p>
         {% for item in liste %}
         <p>
                <d>Record :</d> 
                <d><input type="submit" class="btn" name="dynButton" value={{item.name}}></d>
                <d><input type="submit" class="btn" name="{{item.name}}" value="Delete {{item.name}}"></d>
        </p>
        {% endfor %}

        <!-- <div>{{frames}} done.</div> -->

        <p></p>
        <p></p>
        <p></p>   
       
        <input type="submit" class="btn" value="Validate and Process" name="bt_process">
        <input type="submit" class="btn" value="Upload" name="bt_upload">
        
       

        </form>
</body>
</html>

